<footer class="container pt-md-14 pt-2 pb-md-7 pb-6">
    <div class="row">
        <div class="col-md-3">
            <h2 class="mb-0 mb-md-6"><a href="index.html" class="logo">PETPET</a></h1>
            <ul class="list-unstyled d-none d-md-block">
                <li class="mb-6"><a href="#">關於我們</a></li>
                <li class="mb-6"><a href="#">幫助中心</a></li>
                <li class="mb-6"><a href="#">使用條款</a></li>
                <li class="mb-6"><a href="#">隱私政策</a></li>
            </ul>
        </div>
        <div class="col-md-3 d-none d-md-block">
            <h2 class="h6 text-primary pt-3 mb-9">寵物服務</h2>
            <ul class="list-unstyled">
                <li class="mb-6"><a href="#">寵物寄宿</a></li>
                <li class="mb-6"><a href="#">寵物到府保姆</a></li>
                <li class="mb-6"><a href="#">寵物美容洗澡</a></li>
                <li class="mb-6"><a href="#">寵物行為訓練</a></li>
            </ul>
        </div>
        <div class="col-md-3 d-none d-md-block">
            <h2 class="h6 text-primary pt-3 mb-9">加入我們</h2>
            <ul class="list-unstyled">
                <li class="mb-6"><a href="#">成為寵物保姆</a></li>
                <li class="mb-6"><a href="#">加入寵物計程車</a></li>
                <li class="mb-6"><a href="#">專屬 APP 下載</a></li>
                <li class="mb-6"><a href="#">相關合約條款</a></li>
            </ul>
        </div>
        <div class="col-md-3 d-none d-md-block">
            <h2 class="h6 text-primary pt-3 mb-9">聯繫我們</h2>
            <a class="d-block" href="mailto:petpet@petmail.com">petpet@petmail.com</a>
        </div>
    </div>
    <div class="d-flex justify-content-between pt-0 pt-md-16">
        <a class="text-lg font-weight-medium d-none d-md-block" href="tel:+886071234567">
            <span class="material-icons align-text-top mr-2">local_phone</span>
            07-123-4567
        </a>
        <p class="text-sm font-weight-medium text-primary mb-0">Copyright © 2020 PetPet. All rights reserved.</p>
    </div>
</footer>