<!-- 輸入Email尋求幫助 -->
<section class="bg-secondary py-9">
    <div class="container">
        <h2 class="text-primary mb-3 mb-md-2">有任何我們能幫助您的嗎？</h2>
        <p class="lead text-primary mb-4">輸入電子信箱<br>將有專業人員在線幫您解決所有問題</p>
        <div class="row">
            <div class="col-lg-6 col-md-9">
                <div class="input-group">
                    <input type="email" class="form-control h-auto" placeholder="example@gmail.com" aria-describedby="btnSendEmail">
                    <div class="input-group-append">
                        <button class="btn btn-primary-light py-3 px-10" type="button" id="btnSendEmail">送出</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>