body {
    font-family: $font-family-base;
    font-size: $font-size-base;
    line-height: $line-height-base;
    overflow-x: hidden;
}

img{
    max-width: 100%;
    display: block;
    height: auto;
    object-fit: cover;
}

a:hover{
    font-weight: $font-weight-medium !important;
}