.display-board{
    height: 282px;
    @include media-breakpoint-up(md){
        height: 221px;
    }
    @include media-breakpoint-up(lg){
        height: 440px;
    }
}

.display-link-img{
    height: 82px;
    @include media-breakpoint-up(md){
        height: 63px;
    }
    @include media-breakpoint-up(lg){
        height: 96px;
    }
}