.display-board{
    height: 282px;
    @include pad{
        height: 221px;
    }
    @include pc{
        height: 440px;
    }
}

.display-link-img{
    height: 82px;
    @include pad{
        height: 63px;
    }
    @include pc{
        height: 96px;
    }
}