.login-form-block{
    position: relative;
    margin: 60px auto 120px;
    @include media-breakpoint-up(md){
        margin: 180px auto;
    }
    @include media-breakpoint-up(lg){
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        margin: 0 auto;
    }
}