.navbar-nav{
    .nav-item{
        width: 100%;
        text-align: center;
        border-bottom: 1px solid #DEDEDE;
    }
    .nav-link{
        font-size: $font-size-lg;
        font-weight: $font-weight-medium;
    }
    @include media-breakpoint-up(md){
        .nav-item{
            width: auto;
            border: none;
        }
        .nav-link{
            font-size: $font-size-base;
            font-weight: $font-weight-normal;
        }
    }
}