.swiper-button-prev::after, .swiper-button-next::after{
    content: "";
}

.swiper-button{
    height: 44px;
    width: 44px;
}

.swiper-button-next-position{
    right: 4px;
    @include media-breakpoint-up(md){
        right: -22px;
    }
}